# Content

####  [Introduction to Python](#intro)</li>
####  [Variables and Data Types](#data)</li>
####  [Lists](#lists)</li>
####  [Conditional Statements](#conditional)</li>
####  [For Loops](#for)</li>
####  [Dictionaries](#dict)</li>
####  [While Loops](#while)</li>
####  [Functions](#function)</li>
####  [Exercises](#exercise)</li>
####  [Classes](#classes)</li>

# <a class="anchor" name="intro"></a> Introduction to Python 

In this short crash course we will learn to code in Python programming language, specifically we will use Python 3, while searching on the internet you may sometime stumble upon Python 2.7. There are a few syntactic differences you will learn along the way.

### Advantages

* General-purpose language, used in web developement as well as high performance computing
* It is an "interpreted" programming language, i.e. there is no need to compile your code
* Extensive choice of libraries to deal with most complicated problems, especially for data science and machine learning
* Has slightly steep learning curve, is easy to read and write
* Very well documented, and widely used ([docs.python.org](http://docs.python.org) or check Stack Overflow)
* Dynamically-typed - it is not necessary to manually define the types of variables (in most cases)

### Disadvantages

* Dynamically-typed - it is not necessary to manually define the types of variables - this can cause confusion. It is good practice to leave comments with description of the input for every function
* Is slower than other compiled languages, this can be rectified by using libraries that are pre-combiled in other programming languages 


### Plan for today
1. Basics: variables, conditional statements, for/while cycles, functions 
2. Pythonic basics: list comprehension
3. Problem solving

### How to learn Python?

* It is a language, the only way to learn it is to speak it. *Don't be afraid, make mistakes, and ask questions.*
* *Practice makes perfect*. Initially you will be forgetting the commands, the more you practice the sooner you will remember the syntax.
* If you don't understand something, first compose the question properly, think about it, and if you can't think of a solution ask someone!
* Before you execute any cell, stop and try to predict what it will do! Ideally write your prediction on a piece of paper!
* Experiment! Change the code in the cells, try various test cases to understand how the code behaves.

# <a class="anchor" name="var"></a>Variables and Data Types

Variables are "black boxes" used to store values. Each variable is of a specific type, the types define the operations that can be applied to the variables and their response to them. The most common variables are:
 - *Strings* - A "string" of characters
 - *Integers* - Whole numbers
 - *Floating-point values* - Decimal numbers
 - *Boolean* - Binary logic (True / False)

In [0]:
# This is a comment, text following a hashtag is not interpreted as code.
"""This is also a comment, it is a string, and can span multiple lines.
Comments aid understanding of the code, and make it legible."""

In [0]:
# To execute the code in a cell, press ctrl-shift
a = 5  # the variable a is assigned the value 5
type(a)  # the type() function displays the variable type of the argument in the brackets

Now run the following code without any comments and see the difference:

In [0]:
a = 5  
type(a)

In [0]:
# python automatically guesses the variable type of your input, can you google what this variable type stands for?
b = 0.299
type(b)

In order to print out the value of a variable or a calculation, you can use the function print()

In [0]:
print(a) # don't forget the brackets ()!
print(a+15)

Guess the results of the following operations, write them down before running the cell!

In [0]:
print(a/2)
print(a//2) # // signifies whole number division
print(a%2)  # "modulo operator" % is the remainder after division

Write a code to print the sum of the variable `a` and `b`:

In [0]:
# CODE HERE

Python can also work as a very powerful calculator, what is 99 to the power of 99? (Hint: powers are denoted by ** in Python)

In [0]:
# CODE HERE

Create a new variable and print out its type:

In [0]:
# CODE HERE

It is possible to add different types in Python, the resulting type is chosen automomatically. (broadcasting)

In [0]:
type1 = 'str'   # string
type2 = 4       # int
type3 = 4.5     # float
type4 = True    # bool (logic value True / False)

print(type2 + type3)
print(type3 + type4)
print(type1 + type2)

8.5
5.5

TypeError: must be str, not int

**Some types cannot be added together as you can see above! Error messages are a useful feature that allow you to find bugs in your code. Also notice that when adding a float and an int, the result is chosen to be a float.**

## Strings

String is a data type used to represent text in Python:

In [0]:
c = "Python Workshop by YME"
type(c)

There is an arithmetic associated to the string data type, see how a string behaves under the following operands:

In [0]:
hello = "Hello"
space = " "
world = "World!"
print(hello + space + world)
print((hello + space)*2 + world)

Notice that the sign "+" concatenates strings, but adds numbers when applied to `int`s or `float`s. An operator with different operations for different types is called an "overloaded operator". <br><br>
It is possible to manually change the data type of a variable, for example strings to integers or floating-point numbers.

In [0]:
s = "123"
si = int(s) # string s converted to an integer
print(si)
sf = float(s) # string s converted to a floating point number
print(sf)

... or vice-versa:

In [0]:
d = 123
ds = str(d)
print(ds + "_" + "s")

Create a new string variable "2019", convert it to an integer, and add the result to the float number number = 5.7

In [0]:
# CODE HERE

Finally, strings can be split into lists!

In [0]:
s = "123"
print(len(s))   # How long is this string?
list(s)

# <a class="anchor" name="lists"></a>Lists
Lists (or arrays) are mutable sequences of elements, i.e. once created, the separate elements can be changed. Lists can be created in the following way `a = [1,2,3]`

In [0]:
a = [1, 2, 3]
print("Printing list a:")
print(a) 
b = [2, 5]
c = a + b        # Lists can be added together, this appends list b to list a!
print("Printing list c:")
print(c)

Try if lists can be subtracted or multiplied!

In [0]:
# CODE HERE

Elements in a list can be accessed separately, each element has an associated index starting from 0

In [0]:
print(a[0])   # first element is numbered by 0, not 1!
print(a[2])   # third element of the list
print(a[-1])  # last element of the list
a[0] = 5
print(a)      # we have modified the first element

Write a code to access the 10th element of the list `a`:

In [0]:
# CODE HERE

Can you use your python knowledge of lists and strings to find the 10th character in the sentence below?

`s = "This is a string with an exciting 10th character!"`

In [0]:
# CODE HERE

Below you can see some handy functions that can be perfomed on a list:

In [0]:
# length of a list
print(len(a))
# sum of all list elements
sum(a)
print(sum(a))
# adding an element to the end of the list
a.append(10)
print(a)

Especially useful is the sort() function:

In [0]:
v = [5, 3, 8, 1]
print("the list v is :")
print(v)
print("the list v after sorting is: ")
v.sort()
print(v)

# Try to print out the result of the function reverse() without converting to list. What type is it?
print("printing the reversed sorted list v:")
print(list(reversed(v)))

the list v is :
[5, 3, 8, 1]
the list v after sorting is:
[1, 3, 5, 8]
printing the reversed sorted list v:
[8, 5, 3, 1]

Another powerful function in python is the set() function for lists which returns all the unique elements in a list:

In [0]:
sample_list = [1,1,1,1,2,2,2,2,3,3,3,3,3,4,4,4,4,4]

print(set(sample_list))

# Also works for strings as python treats strings as a list of characters!
sample_string = "Hello World!"
print(set(sample_string))

# Note that the outputs of set are not sorted and it also included the empty space ' ' as a unique character

{1, 2, 3, 4}
{' ', 'l', 'e', 'W', 'r', 'o', 'H', 'd', '!'}

The elements in a list do not need to be all of the same type.

In [0]:
good_list = ['Data Science', 485, True, 0.001]
print(good_list)

Lists can also contain more lists, exciting! Let's append a list at the end of a list:

In [0]:
good_list.append(['another', 'list'])
print(good_list)
print(good_list[-1][0]) # picks the first element of the last element of good_list

How many elements does the list `[[0,1,2,3,4,5,6]]` have? Use the `len()` function to see if you were right.

In [0]:
# CODE HERE

`range()` is a particularly useful iterator that can be converted into a list:

In [0]:
r = range(10)
print(r)

In the future you will see that the result of the `range()` function behaves just like a list would when combined with certain functions or in loops. If you want the result to really be a list, make sure to convert it!

In [0]:
r = list(r)    
print(r)
print(len(r), sum(r))

The `range()` function can have a specified start, end and step size. The syntax is: range(first element, last element, step size)

If step size is not specified, the default value is one.

In [0]:
print(list(range(1,10,2)))
print(list(range(1,10)))
print(list(range(10,1,-1)))

### Exercise: 
Create a list of all the multiples of three between 1000 and 2500:

In [0]:
# CODE HERE

## Accessing elements

You have already seen how to access a single element in a list:

In [0]:
a = [3, 1, 4, 1, 5, 9, 2, 6, 5, 3, 5, 9]
print(a[0])
print(a[1])
print(a[-1])

In python, you can also access "sublists" of lists, the syntax is: list[ start : end : step ]

In [0]:
#print(a[0],a[1],a[2])
print(a[0:2])   # first two elements
print(a[:2])    # from the start to element two
print(a[7:])    # from element seven to the end
print(a[-2:])   
print(a[::2])   # every second element from the start to the end

Create a list containing 11 elements, print out the following sublists:
    - All elements between the 2nd and 5th element
    - Every second element of the list
    - Print out the whole list backwards
    - Exchange the order of the 4th and 5th element and the 8th and 9th element.

In [0]:
# CODE HERE

## Logic

In Python it is often necessary to write down conditions which result in a boolean value (either `False` or `True`). It is important to learn how to evaluate such conditions using basic logic. Let's look at some logic operations first:

In [0]:
#or operator
print(True or False)
print(False or False)
print(True or True)

#and operator
print(False and False)
print(True and True)
print(True and False)

#not operator
print(not False)
print(not True)

This can be summarised into this table
![alt text](https://upload.wikimedia.org/wikipedia/commons/4/4a/Truth_table_for_AND%2C_OR%2C_and_NOT.png)

These logical operations can be incorporated in terms of mathematical operations, let's define a few variables:

In [0]:
a = 5 # an integer
b = 6 # another integer
c = [0,1,2,3,4,5] # a list

Now we can test a few logic operations on these variables, look at the cell below and try to guess the output! Write your guesses down before running the cell!

In [0]:
print(a == b) # a equal to b
print(a+a == b) # 2a equal to b
print(a != b) # a not equal to b
print(a > b) # a greater than b
print(a < b) # a lesser than b
print(a <= b) # a lesser or equal to b

There are a few more intuitive operations that will come handy later on:

In [0]:
print(a in c) #if a is in c?
print(b in c) #if b is in c?
print(a not in c) #if a is not in c?
print(b not in c) #if b is not in c?
print(a and b in c) #if both a and b is in c?
print(a or b in c) #if either a or b is in c?

print(2 is '2') #if integer 2 is string 2?
print("2" is '2') #double quote and single quotes are equivalent?
print(2 is not '2') #if integer 2 is not string 2?

Make sure you understand each of the above results, if you don't, ask one of the demonstrators.

# <a class="anchor" name="conditional"></a> Conditional statements
Conditional statements are useful when we want to run some parts of the code only if some conditions are fulfilled. The syntax is:

`if [Condition]:
    [Code]`
    
If the `[Condition]` in the if statement has the value True, the `[Code]` will be executed, otherwise it will not.

In [0]:
# Lets start with a few simple conditional statements
if True:
    print("The condition after \"if\" is true!")

In [0]:
if False:
    print("The condition after \"if\" is false :( !")

In [0]:
# It is possible to include a number of conditions! If neither is true, then the code in else will run.
a = 5
if a == 2:
    print("a is equal to two!")
elif a == 3 or a == 4:
    print("a is equal to three or four?")
else:
    print("a is not two, three or four!")

**IMPORTANT** Indentation is essential for Python.

Run the following block of code. How is it different?

In [0]:
a = 5
if a == 2:
print("a is equal to two!")
elif a == 3 or a == 4:
print("a is equal to three or four?")
else:
print("a is not two, three or four!")

As you can see, indentations have to be placed after every ' : '

Write a code that takes a list with n elements on its input, and returns the string `"Too long"` if the n > 10, `"Too short"` if n < 10, and `"Ideal"` if n = 10.

In [0]:
#Code Here

# <a class="anchor" name="for"></a>For loop

Loops are one of the most important structures you will learn today, they allow cerain parts of the code to be executed multiple times. In Python the `for` loop is used extensively. The syntax is: `for <variable> in <list of elements>:`

In [0]:
# one by one each element of the list is assigned to the variable i, then the code inside the for loop is executed
#([0,1,2,3,4,5,6...,9])
for i in range(10):
    print(i)

In [0]:
# The loop iterates over the list, sequentially assigning values to the variable i. The code within the loop prints the value.
for i in [4, 1, 5, 22, 5]:
    print(i)

In [0]:
# The loop iterates over the list, sequentially assigning values to the variable i. The code within the loop prints the value.
for y in [4, 1, 5, 22, 5]:
    print (y, y+10)

In [0]:
for i in "abc":   #it is also possible to iterate over strings
    print(i)
    
#This is because python treats a string as an array of characters ie. ['a','b','c']

In [0]:
# sometimes it is useful to have two nested for loops, keep in mind the more nested loops the slower the code!
for i in [1,2,3]:
    for j in range(2,22,5):
        print(i, j)

Enumerate is also a handy function that is used in conjunction with for loops. Enumerates indexes all the items in a list, as shown below

In [0]:
#Prints out all the items in the list with their corresponding index
animals = ['cat', 'dog','mouse']
for item in enumerate(animals):
  print(item)
  
# It is also possible to extract the indexes and elements in the lsit individually
for index, animal in enumerate(animals):
  print(index)
  print(animal)
  
print((enumerate(animals))) # What type is this? Does it look familiar?

The enumerate object and reversed object you've seen before are special data structures that allow you to iterate through them ie. using a for loop. 

You don't need to know too much about these now but keep in mind you can loop through more than just lists!

Calculate the hundredth element of the Fibonacci sequence. $F_0=0$, $F_1 = 1$, $F_{i+2} = F_{i+1} + F_{i}$.

In [0]:
# CODE HERE
F_i = 0
F_i1 = 1
F_i2 = ????
for i in range(0,98):
    F_i2 = ????
    F_i1 = ????
    F_i = ????

## List comprehension

If you encounter an expression such as this:

`for item in list:
    if conditional:
        expression`
        
It can be briefly written in python as:

`[ expression for item in list if conditional ]`

In [0]:
# You can either use loops:
squares = []

for x in range(10):
    squares.append(x**2)
 
print(squares)

In [0]:
# Or you can use list comprehensions to get the same result:
squares = [x**2 for x in range(10)]

print(squares)

Code a comprehension list that iterates over first 100 whole numbers and picks out the even ones:

In [0]:
# CODE HERE
[x for x in range(100) if x%2==0]

Create a comprehension list that replaces every number <50 with True and >50 with False:

In [0]:
# CODE HERE

# <a class="anchor" name="dict"></a>Dictionaries

Dictionaries are special data structures that stores data in key:value pairs. This is useful when you want to assign a value to a unique key or identifier. All keys must be unique for a dictionary.  Dictionaries can be created using {} as shown below.

In [0]:
# In the following example, the dictionary has 2 items separated by a ','.
dict1 = {"key1" : 1,
         "key2" : 1}

# The syntax is key:value

dict2 = {"key1" : 1,
         2 : "key2"}

# Note that dictionary key:value pairs can have different data types. In the case above the first key is a string and the second is an integer

The advantage of dictionaries is that it's computationally less expensive to retrieve the values of items from a dictionary using it's key

In [0]:
print(dict1["key1"]) # Gets the value corresponding to key1

print(dict1.get("key1")) # Alternatively, you can use the get() function

print(dict1.get("key3")) # Returns none if the key doesn't exist instead of an error if using dict1["key3"]

dict1["key3"] = dict1.get("key3",1) # Providing a second arguments allows the function to return this value if the key was not found. Useful for adding to dictionaries!

print(dict1["key3"]) # Key3 had been added to the dictionary with value 1

1
1
None
1

Dictinoaries are handy for getting the value of a key, but difficult to retrieve key for a given value.

You can also iterate through dictionaries using for loops

In [0]:
# Print our all the keys in a dictionary
for key in dict1.keys():
  print("Key is: " + str(key))
  
# Print our all the values in a dictionary
for value in dict1.values():
  print("Value is: " + str(value))

# Get the kay and value pairs in a dictionary
for key, value in dict1.items():
  print("Key is: " + str(key), "Value is: " + str(value))

It's also possible to delete items from a dict

In [0]:
del(dict1["key3"]) # deletes item corresponding to key3 from the dictionary
print(dict1)

Some of the useful functions for lists also apply to dictionaries

In [0]:
print(len(dict1))

dict3 = {"key2" : 1,
         "key1" : 1}

for key in sorted(dict3):
  print(key)

Why use dictionaries at all? They come in handy for automating certain tasks faster. Let's say you want to count the number of times each character appears in a string. Would you be able to do it without using a dictionary?

In [0]:
example = "test string"
char_dict = {} #initialise empty dictionary

# Remove empty space in string and iterate through
for char in example.replace(" ",""):
  char_dict[char] = char_dict.get(char, 0) + 1
  
for key, value in char_dict.items():
  print("Character: " + str(key), "Frequency: " + str(value))

Given an array of phones, can you count the number of times each phone model appears in the array these into phone_dict, using the phone model as the key and the frequency of the model in the array as the value?

In [0]:
arr = ['iphone 5', 'iphone 8', 'samsung', 'iphone X', 'iphone X', 'samsung', 'iphone 8', 'iphone 5', 'iphone5', 'iphone 5', 'iphoneX']

phone_dict = {}

# CODE HERE

# <a class="anchor" name="while"></a>While Loops

While loop is a classic loop with a set condition, while the condition is true, the cycle will repeat.

In [0]:
i = 0
while i < 10:
    print(i)
    i += 1 # increment i by 1

If the while condition is always true, the cycle will never stop.

In [0]:
i = 0.000001
while i != 10:
    i += 1
    print(i)

While loops are commonly used with logic operators to extend their uses

In [0]:
i = 9
while i < 10 and i > 0:
  print(i)
  i -= 1 # decrement i by 1

# <a class="anchor" name="function"></a>Functions

Functions are a basic building block of a programming language. In python, functions can return multiple variables at the output. (unlike C/C++ and Fortran). The syntax is:

`def [function name]( [inputs] ):
    [code within the function]
    return [output]`

In [0]:
def subtract(a, b):
    return a - b

In [0]:
print(subtract(1, 2))
print(plus(3.2, -1))

In [0]:
# functions can have default input values
def plus2(a, b=2):
    return a + b

print(plus2(7))
print(plus2(7,4))

Analyse the following function, what do you think it does? Use the function on a number of testcases to see if your guess is correct.

In [0]:
def random_func(a):
    something = 0
    
    for character in str(a):
        something += int(character)
        
    return something

In [0]:
random_func(123)

Combine your knowledge of comprehension lists and functions to write a function that finds all the even numbers between n and m:

Write test cases to test your function!

In [0]:
# CODE HERE
def name_your_function(array, n, m):

## Recursive Functions

Recursive functions are a special type of function where the function calls itself. They are useful for simplifying certain structures of code such as for loops, but come at a cost of increased computing overhead. They are also useful when the bounds of a function are not known.

In [0]:
# Factorial function using for loops
def factorial_for_loop(x):
  answer = 1
  for i in range(1,x+1):
    answer *= i
  return answer

# Factorial function using recursion
def factorial_recursion(x):
  if x == 0: return 1
  return x*factorial_recursion(x-1)

print(factorial_for_loop(5))
print(factorial_recursion(5))

120
120

# <a class="anchor" name="exercise"></a>Exercises

---
## Exercise 1: Sum
Code a function that sums the digits in a number.

In [0]:
# CODE HERE

---
## Exercise 2: Sum Multiple
Find the sum of all integer multiples of 3 or 5 smaller than 10000.

In [0]:
# CODE HERE

***
## Exercise 3: Palindrome
Create a function that determines if a given string is a palindrome.
A palindrome is defined as a string that when reversed, is identical to the original string.

Example: <br>
*anna* is a palindrome <br>
*go dog* is a palindrome <br>
*PYME* is not a palindrome

You may assume the input is all lowercase and does not have punctuation

In [0]:
def palindrome(string):
  #CODE HERE

---
## Exercise 4: Primes
Code a function that decides whether the input is a prime number or not.

Find the sum of the first 100 prime numbers.

In [0]:
# CODE HERE

## Exercise 5: What's on the menu?
Create three lists: food = [schnitzel, salad, soup, noodles, bread, fish], unavailable = [salad, noodles, bread], new = [maggi, roti canai, nasi goreng]
    
 Remove all 'unavailable' food from the list 'food', add all 'new' food to the list 'food'. Make sure each food is in the list only once.
 
 **CHALLENGE: Solve this exercise in only one line of code ;)** (apart from creating the lists)

In [0]:
# CODE HERE

# <a class="anchor" name="classes"></a>Classes

Classes are special data structures that encapsulate other data types and functions.

We can define our own classes which serve specialised tasks for our purposes

In [0]:
# Classes are declared using the 'class' keyword
class Dog:
  
  # Our dog class has two data members, one string for the name and one int for the age. These data members are associaated with the class 'Dog'
  name = "Toby"
  age = 5

Now that we have defined the 'Dog' class, we can create an object (instance) of the class by assigning it to a variable similar to how we assign integers to variables

We can now access the data members of this object with the '.' operator

In [0]:
# Instantiate a dog object and assign it to the my_dog variable
my_dog = Dog()

# Access my_dog's data members using the . operator
print(my_dog.name)
print(my_dog.age)

But not all dogs are named Toby and are 5 years old. What if we want to generalise our class so we can create 'Dog' objects with different names and ages?

That what initialisers are used for.

In [0]:
class Dog:
  
  # Initialiser for dog class
  def __init__(self, name, age):
    # The self pointer is used here to assign the name passed to the initialiser to the name data member belonging to the object
    self.name = name
    self.age = age
    
# NOTE: Don't worry too much about the self pointer. It is not critical for this course, just know that by convention, the self keyword is passed into any member functions of a class

Now let's create a new dog object using our initialiser!

In [0]:
# Initialise a Dog object using the initialiser to assign our chosen name and age
my_dog = Dog("Spots", 3)

# Access my_dog's data members using the . operator
print(my_dog.name)
print(my_dog.age)

You can also define member functions within a class. Similar to the data members, these functions are tied to the class

In [0]:
class Dog:

  def __init__(self, name, age):
    self.name = name
    self.age = age
  
  # Define a member function. Member functions are tied to classes
  def bark(self):
    print("Woof woof")

Now, we can call the bark function of my_dog! Remember, this bark() function is tied to the class, meaning you can't just call bark() directly!

In [0]:
# Initialise a Dog object using the initialiser to assign our chosen name and age
my_dog = Dog("Spots", 3)

# Call the bark function associated with my_dog
my_dog.bark()

In [0]:
bark() # WILL NOT WORK

** You do not need to know too much about classes, just keep in mind that when you are using external libraries, you are essentially using classes within the library to accomplish specific tasks (matrix operations, plotting graphs, etc) **